
.blue-text {
    color: blue;
}

body {
    /* background-color: beige; */
    background-image: url("images/palm.jpg");
}

.smaller-image {
    width: 100px;
}

#input {
    position: relative;
    left: 90px;
}

#button {
    position: relative;
    left: 100px;
}

a {
    position: relative;
    left: 80px;
}

a:hover {
    color: red;
}

p {
    font-family: monospace;
    text-align: justify;
    text-align: center;
}

h1 {
    font-family: Lobster, sans-serif;
    text-align: center;
}

h2 {
    font-family: Lobster, sans-serif;
    text-align: center;
}

.silver-background {
    background-color: silver;
    font-family: monospace;
}